// Define variables for your color scheme

// For example:
$red: #b83b3dbe;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;

// Main App Colors
$green: #03403D;
$light-green: #9ECAC7;
$pale-green: #DFF0EC;
$gray: #3e3e3e;
$light-gray: #F4F4F4;
